@font-face {
	font-family: 'CentraNo2-Medium';
	src: url('assets/CentraNo2-Medium.otf');
}
@font-face {
	font-family: 'CentraNo2-Extrabold';
	src: url('assets/CentraNo2-Extrabold.otf');
}

body {
	width: 220px;
	max-width: 250px;
}
h1 {
	max-width: 200px;
	font-family: 'CentraNo2-Extrabold';
}
p {
	font-family: 'CentraNo2-Medium'
}
b {
	font-family: 'CentraNo2-Extrabold';
}

#name {
	color: black;
	font-size: 20px;
	font-family: 'CentraNo2-Extrabold';
	margin-top: 10px;
	margin-bottom: 10px;
}
#founddiv {
	border: 1px solid black;
	text-align: center;
	width: 200px;
	max-width: 200px;
	padding: 10px;
}
#pagefound {
	font-size: 20px;
}
#request {
	position: relative;
	cursor: pointer;
	left: 1%;
	top: -5px;
}
#logo {
	width: 50px;
}
#gottotp {
	border: 1px solid black;
	text-align: center;
	max-width: 200px;
	padding: 10px;
}
#totpnum {
	font-family: 'CentraNo2-Extrabold';
	font-size: 25px;
	margin-bottom: -40px;
}
#copybutton {
	position: relative;
	cursor: pointer;
	left: 5%;
	bottom: -30px;
	height: 10px;
}
#inputbutton {
	width: 50px;
	position: relative;
	cursor: pointer;
	left: 67%;
	bottom: 0px;
}
#notfounddiv {
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	width: 200px;
	max-width: 200px;
}
#notfounddiv p {
	font-size: 10px;
}
#notfoundtext {
	font-size: 14px;
}
#associate_submit {
		cursor: pointer;
		border-radius: 5px;
		border: 2px solid #14a09c;
		position: relative;
		max-width: 16px;
		cursor: pointer;
		top: 4.5px;
}
#requestText {
	font-size: 20px;
	color: #14a09c;
	font-family: 'CentraNo2-Extrabold';
}
#requrestBottom {
	margin-top: -23px;
	margin-left: -5px;
	background-color: #14a09c;
	border-color: #14a09c;
	height: 3px;
	width: 85px;
}
#requrestRight {
	left: 85px;
	margin-left: -8px;
	top: -13px;
	background-color: #14a09c;
	border-color: #14a09c;
}
#logText {
	font-size: 20px;
	color: #d33851;
	font-family: 'CentraNo2-Extrabold';
}
#logBottom {
	margin-top: -18px;
	margin-left: -3px;
	background-color: #d33851;
	border-color: #d33851;
	width: 61px;
	position: relative;
	border-top-width: 1px;
	border-top-left-radius: 1px;
	border-bottom-width: 1px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 2px;
	height: 2px;
}
#logRight {
	left: 64px;
	margin-left: -8px;
	top: -9px;
	background-color: #d33851;
	border-color: #d33851;
	position: relative;
	border-top-width: 1.5px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	height: 7px;
	width: 2px;
}
#keyText {
	font-size: 23px;
	color: #14a09c;
	font-family: 'CentraNo2-Extrabold';
}
#keyBottom {
	margin-top: -27px;
	margin-left: 45px;
	background-color: #14a09c;
	border-color: #14a09c;
	width: 107px;
}
#keyRight {
	left: 146px;
	margin-left: 3px;
	top: -13px;
	background-color: #14a09c;
	border-color: #14a09c;
}

#copyText {
	font-size: 20px;
	color: #14a09c;
	font-family: 'CentraNo2-Extrabold';
	left: 10;
	text-align: left;
}
#copyBottom {
	margin-top: -23px;
	margin-left: -5px;
	background-color: #14a09c;
	border-color: #14a09c;
	width: 60px;
	left: 0px;
}
#copyRight {
	left: 60px;
	margin-left: -8px;
	top: -13px;
	background-color: #14a09c;
	border-color: #14a09c;
}
#fillText {
	font-size: 20px;
	color: #146da0;
	font-family: 'CentraNo2-Extrabold';
	left: 10;
	text-align: left;
}
#fillBottom {
	margin-top: -23px;
	margin-left: -5px;
	background-color: #146da0;
	border-color: #146da0;
	width: 45px;
	left: 0px;
}
#fillRight {
	left: 45px;
	margin-left: -8px;
	top: -13px;
	background-color: #146da0;
	border-color: #146da0;
}
.borderBottom {
	position: relative;
	border-top-width: 1.5px;
	border-top-left-radius: 1.5px;
	border-bottom-width: 1.5px;
	border-bottom-left-radius: 1.5px;
	border-bottom-right-radius: 3px;
	height: 3px;
}
.borderRight {
	position: relative;
	border-top-width: 1.5px;
	border-top-left-radius: 1.5px;
	border-top-right-radius: 1.5px;
	height: 10px;
	width: 3px;
}
.extra_empty_table {
    margin-bottom: -20px;
}
.extra_empty {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: gray dashed 1.5px;
    border-radius: 25px;
    margin-right: 10px;
}
.extra_empty_plus {
    margin-top: -2px;
    font-size: 20px;
    margin-left: 4px;
    color: gray;
}
.extra_with {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;
    display: none;
}
.extra_with_text {
    margin-top: 2px;
    font-size: 16px;
    text-align: center;
}
.extra_x {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border: 1px solid black;
    font-size: 8px;
    text-align: center;
    margin-top: -42px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: white;
} 
.extra_x p {
	margin-top: -1px;
}
.checkmark {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 26px;
    color: #14a09c;
    text-align: center;
    font-family: arial;
    -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
    -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
    transform: scaleX(-1) rotate(-35deg);
}
.checkdiv {
    display: none;
    width: 40%; 
    left: 30%;
	font-family: 'CentraNo2-Extrabold';
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    text-align: center;
}
#search {
	height: 30px;
}
#searchinput {
	width: 170px;
	font-family: 'CentraNo2-Medium';
	font-size: 11px;
	margin-bottom: -157px;
	margin-top: 4px;
}
#search_submit {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #14a09c;
	position: relative;
	top: -16px;
	left: 195px;
	max-width: 20px;
	cursor: pointer;
}
#logout {
	max-width: 60px;
	position: relative;
	cursor: pointer;
	left: 70%;
	top: -20px;
	margin-bottom: -8px;
}
#logText {
	font-size: 15px;
}
#searchform {
	width: 200px;
	max-width: 200px;
	position: relative;
	border: 1px solid transparent;
}
#trek {
	font-size: 20px;
}
